body {
    font-family:
        "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
        Arial, sans-serif;
    background-color: rgb(32, 31, 31);
    position: relative;
    width: 100%;
}

body {
    color: white;
}

#main {
    background-color: rgb(42, 42, 96);
    border-radius: 10px;
    border-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px 250px 20px;

    #title {
        text-align: center;
    }

    p {
        text-align: left;
    }
}

#navbar {
    background-color: rgb(42, 42, 96);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px 20px 20px 20px;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%; */
}

.button {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: 0px 10px 0px 10px;
    color: rgb(0, 0, 0);
}

div.materials {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px 100px 20px;
    padding: 5px 0px 5px;
    text-align: center;

    h5 {
        color: black;
    }

    a {
        color: black;
        margin: 10px 10px 10px;
    }
}
